@page "/"

<div class="row">
    <div class="col">
        <h1>Weather Data App</h1>
        <p>In this app you can upload .csv files with data to a database and then look at it.</p>
    </div>
</div>
